$base-color: #f1f5f8;
$blue: #48a5ea;
$white: #ffffff;
$deep-blue: #082237;
$gray: #8cabc7;
$dark-gray: #546a7e;
$white-gray: #f1f5f8;
$white-gray-overlay: #f1f5f882;
$sky-blue: #ecf7ff;
$sky-deep-blue: #c7dded;
$red: #bb2525;
$gold: #c59d5f;
