@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
  $src: null;
  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );
  @each $ext in $exts {
    $format: map-get($formats, $ext);
    $src: append($src, url(quote($path)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Montserrat:wght@500;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Great+Vibes&family=Montserrat:wght@500;700&display=swap');
/*
font-family: 'Great Vibes', cursive;
*/
