/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* 리스트 타입 없애기 */
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
/* 가운데 정렬 */
main {
  min-height: 100vh;
  display: grid;
  place-items: center;

  .main-list {
    padding: 1em;
    font-size: 1.5em;
    li {
      padding: 0.2em;
      margin: 0.2em;
      border: 1px solid #000;
    }
  }
}
